/* css for 4k screen resolution*/
@media screen and (min-width: 3840px) and (min-height: 2160px) {
  }

 
  body {
    background-color:#000000; /*Black background color*/
}
  #logo {
    position: absolute;
    top: -11% ;
    left: 50% ; /* centers the logo horizontally */
    transform: translateX(-50%); /*centers the logo horiontally */
    width: 300px;
    height: auto;
  }

  h1 {
    color: rgb(255, 255, 255);
    text-align: center; /*center aligning text*/
    font-size: 20px;
    margin-top: 4%; /*spacing from the top*/
  }
  a {
    background-color: rgb(120, 120, 120);
  }

  
  nav{
    background-color: rgb(120, 120, 120);
    overflow: hidden;
  }
  
  /*styling for naviagion links*/
  nav a{
    float:left;
    color:rgb(0, 0, 0);
    font-size:20px;
    text-align:center;
    padding: 15px 20px; /*padding*/
    text-decoration:none; /*remove underline*/
  }

  /*styling for hovering navigation links*/
  nav a:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(114, 114, 114);
  }

  nav a.click{
    color:grey;
    background-color: white;
  }

  /*styles for social media logos*/
  #Twitter-Logo {
    position: absolute;
    width: 59px;
    right: 5.5%;
    top: 10.5%;
  }
  
#Instagram-Logo {
  position: absolute;
  width: 52px;
  right: 9%;
  top: 11%;
}

#COD-Logo-Website {
  position: absolute;
  width: 59px;
  right: 2%;
  top: 10.5%;
}


  /*css code for title page*/
  
  .Video-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
  }

  .MW3-Container{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    font-weight: bold; /*make text weight bold*/
    position: absolute;
    margin-top: 1%;
    right: 42%;
    top: 42%;
  }

  .Season-Container {
    color: #ffffff;
    text-align: left;
    font-size: 30px;
    font-weight: bold; /*make text weight bold*/
    position: absolute;
    top: 58%;
  }

  .RD-Container {
    color: #ffffff;
    text-align: left;
    font-size: 27px;
    position: absolute;
    top: 61%;
  }

  .Content-Container {
    color: #ffffff;
    position: absolute;
    text-align: left;
    font-size: 27px;
    margin-top: -2%; /*Negative top margin*/
    top: 65%;
  }

  #Map {
    position: absolute;
    top: 55%;
    left: 40%;
    width: 1000px;
    height: auto;
  }

  .Read-More-Btn {
    background-color: transparent; /*make background transparent*/
    color: #ffffff;
    text-align: left; /*align text to the left*/
    position: absolute;
    top: 98%;

  }

  /*css code for the titles page*/

  .Classic-Titles-Container{
    color: #ffffff;
    text-align: left; /*align text to the left*/
    font-size: 28px;
    font-weight: bold; /*make text weight bold*/
  }

  .Classic-Text-Container{
    color: #ffffff;
    position: absolute;
    font-size: 22px;
    top: 17%;
  }

  #COD1 {
    position: absolute;
    top: 26%;
    width: 280px;
  }

  #COD2 {
    position: absolute;
    left: 20%;
    top: 28%;
    width: 250px;
  }

 .Cod1-Container{
    color: #ffffff;
    position: absolute;
    text-align: left; /*align text to the left*/
    font-size: 25px;
    font-weight: bold; /*make text weight bold*/
    bottom: 30%;
    left: 3%;
  }

  .Cod2-Container{
    position: absolute;
    left: 23%;
    bottom: 30%;
    color: #ffffff;
    text-align: left; /*align text to the left*/
    font-size: 25px;
    font-weight: bold; /*make text weight bold*/
  }

.COD-1-DOR {
  position: absolute;
  left: 2%;
  bottom: 28%;
  color: #ffffff;
  text-align: left; /*align text to the left*/
  font-size: 20px;
  margin-top: -2%; /*negative top margin*/
}

  .COD-2-DOR {
    position: absolute;
    left: 21%;
    bottom: 28%;
    color: #ffffff;
    text-align: left; /*align text to the left*/
    font-size: 20px;
    margin-top: -2%; /*negative top margin*/
  }

  .Modern-Titles-Container {
    color: #ffffff;
    position: absolute;
    right: 45.5%; /*right positioning*/
    top: 16%;
    font-size: 28px;
    font-weight: bold; /*make text weight bold*/
  }

  .Modern-Text-Container {
    color: #ffffff;
    position: absolute;
    right: 21%;
    top: 17%;
    font-size: 22px;
  }

  #CODMW {
    position: absolute;
    right: 41%;
    top: 29%;
    width: 260px;
  }

  #CODBO1 {
    position: absolute;
    right: 23%;
    top: 29%;
    width: 260px;
  }

  #CODGhost {
    position: absolute;
    right: 5%;
    top: 29%;
    width: 280px;
  }

  .CODMW-Container {
    color: #ffffff;
    position: absolute;
    right: 40%;
    bottom: 30%;
    font-size: 25px;
    font-weight: bold; /*make text weight bold*/
  }

  .CODBO1-Container {
    color: #ffffff;
    position: absolute;
    right: 24%;
    bottom: 30%;
    font-size: 25px;
    font-weight: bold; /*make text weight bold*/
  }

  .CODGhost-Container {
    color: #ffffff;
    position: absolute;
    right: 7%;
    bottom: 30%;
    font-size: 25px;
    font-weight: bold; /*make text weight bold*/
  }

  .CODMWDOR-Container {
    color: #ffffff;
    position: absolute;
    right: 42%;
    bottom: 28%;
    font-size: 20px;
  }

  .CODBODOR-Container {
    color: #ffffff;
    position: absolute;
    right: 24.5%;
    bottom: 28%;
    font-size: 20px; 
  }

  .CODGhostDOR-Container {
    color: #ffffff;
    position: absolute;
    right: 6%;
    bottom: 28%;
    font-size: 20px; 
  }

  .Future-Titles-Container {
    color: #ffffff;
    position: absolute;
    bottom: 20%; /*bottom positioning*/
    font-size: 28px;
    font-weight: bold; /*make text weight bold*/
  }

 .Future-Text-Container {
  color: #ffffff;
    position: absolute;
    bottom: 16%; /*bottom positioning*/
    font-size: 22px;
 } 

 #CODAW {
  position: absolute;
  width: 250px;
  left: 1%;
  bottom: -17%;
 }

 #CODBO3 {
  position: absolute;
  width: 250px;
  left: 18%;
  bottom: -17%;
 }

 #CODIW {
  position: absolute;
  width: 220px;
  left: 35%;
  bottom: -17%;
 }

 .CODAW-Container {
  color: #ffffff;
    position: absolute;
    bottom: -24%;
    left: 2%;
    font-size: 20px;
    font-weight: bold; /*make text weight bold*/
 }

 .CODBO3-Container {
color: #ffffff;
  position: absolute;
  bottom: -24%;
  left: 22%;
  font-size: 20px;
  font-weight: bold; /*make text weight bold*/
 }

 .CODIW-Container {
color: #ffffff;
  position: absolute;
  bottom: -24%;
  left: 38%;
  font-size: 20px;
  font-weight: bold; /*make text weight bold*/
 }

 .CODAWDOR-Container {
  color: #ffffff;
  position: absolute;
  bottom: -27%;
  left: 1%;
  font-size: 20px;
 }

 .CODBO3DOR-Container {
  color: #ffffff;
  position: absolute;
  bottom: -27%;
  left: 18%;
  font-size: 20px;
 }

 .CODIWDOR-Container {
  color: #ffffff;
  position: absolute;
  bottom: -27%;
  left: 35%;
  font-size: 20px;
 }

 .Remastered-Titles-Container {
  color: #ffffff;
  position: absolute;
  bottom: 20%; /* Bottom positioning */
  right: 32.5%; /* Right positioning */
  font-size: 28px;
  font-weight: bold; /*make text weight bold*/
 }

 .Remastered-Text-Container {
  color: #ffffff;
  position: absolute;
  bottom: 18%; /* Bottom positioning */
  right: 20.5%; /* Right positioning */
  font-size: 22px;
 }

 #CODMWR {
  position: absolute;
  width: 265px;
  right: 30%;
  bottom: -20%;
  font-weight: bold; /*make text weight bold*/
 }

 #CODMW2R {
  position: absolute;
  width: 250px;
  right: 13%;
  bottom: -20%;
  font-weight: bold; /*make text weight bold*/
 }

 .CODMWR-Container {
  color: #ffffff;
  position: absolute;
  bottom: -28%;
  right: 30%;
  font-size: 20px;
  font-weight: bold; /*make text weight bold*/
 }

 .CODMW2R-Container {
  color: #ffffff;
  position: absolute;
  bottom: -28%;
  right: 13%;
  font-size: 20px;
  font-weight: bold; /*make text weight bold*/
 }

 .CODMWRDOR-Container {
  color: #ffffff;
  position: absolute;
  bottom: -30%;
  right: 30%;
  font-size: 20px;
 }

 .CODMW2RDOR-Container {
  color: #ffffff;
  position: absolute;
  bottom: -30%;
  right: 13%;
  font-size: 20px;
 }

 /*css code for developers page*/

 .Developers-Text-Container {
  color: #ffffff;
  font-size: 28px;
 }

 #IW-Logo {
  width: 500px;
 }

.IW-Video-Container {
  position: absolute;
  right: 10%;
  top: 42%;
}

 .Infinity_Ward-Text-Container {
  color: #ffffff;
  font-size: 22px;
 }

 #Treyarch-Logo {
  width: 600px;
  position: absolute;
  left: -4%;
 }

.Treyarch-Video-Container {
  position: absolute;
  right: 10%;
  top: 90%;
}

 .Treyarch-Text-Container {
  color: #ffffff;
  font-size: 22px;
  position: absolute;
  bottom: -18%; /* Bottom positioning */
 }

 #SledgeHammer-Logo {
  width: 450px;
  position: absolute;
  bottom: -65%; /* Bottom positioning */
 }

 .SledgeHammer-Text-Container {
  color: #ffffff;
  font-size: 22px;
  position: absolute;
  bottom: -85%; /* Bottom positioning */
 }

 .SledgeHammer-Video-Container {
  position: absolute;
  right: 10%;
  top: 135%;
 }

   /*css code for Esports page*/

   .Esports-Text-Container {
    color: #ffffff;
    font-size: 28px;
   }

   .Read-More-Btn-league {
    background-color: transparent; /*Transparent background*/
    color: #ffffff;
    text-align: left; /*align text to the left*/
    position: absolute;
    top: 26%; /*Top positioning*/
    right: 67%; /*Right positioning*/
   }

   #COD-League-2024 {
    position: absolute;
    width: 850px; 
   }
   
   .Games-modes-Container {
    color: #ffffff;
    position: absolute;
    right: 21%;
    top: 30%;
    font-size: 28px;
   }

   .Meet-The-Teams-Container {
    color: #ffffff;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    top: 93%; /*Top positioning*/
    right: 46%; /*Right positioning*/
   }

   .Team-Faze {
    color: #ff0000;
    position: absolute;
    font-size: 28px;
    bottom: -20%; /*bottom positioning*/
   }

   .Team-Breach {
    color: #51ff00;
    position: absolute;
    font-size: 28px;
    bottom: -20%; /*bottom positioning*/
    left: 20%; /*left positioning*/
   }

   .Team-Ravens {
    color: #0b64a8;
    position: absolute;
    font-size: 28px;
    bottom: -17%; /*bottom positioning*/
    left: 40%; /*left positioning*/
   }

   .Team-Guerrillas {
    color: #492ca9;
    position: absolute;
    font-size: 28px;
    bottom: -17%; /*bottom positioning*/
    left: 60%; /*left positioning*/
   }

   .Team-Thieves {
    color: #ff0303;
    position: absolute;
    font-size: 28px;
    bottom: -20%; /*bottom positioning*/
    left: 80%; /*left positioning*/
   }

   .Team-Heretics {
    color: #1c5384;
    position: absolute;
    font-size: 28px;
    bottom: -43%; /*bottom positioning*/
   }

   .Team-Rokkr {
    color: #3c0b9e;
    position: absolute;
    font-size: 28px;
    bottom: -43%; /*bottom positioning*/
    left: 20%; /*left positioning*/
   }

   .Team-Subliners {
    color: #ffff06;
    position: absolute;
    font-size: 28px;
    bottom: -40%; /*bottom positioning*/
    left: 40%; /*left positioning*/
   }

   .Team-Surge {
    color: #00ffc8;
    position: absolute;
    font-size: 28px;
    bottom: -43%; /*bottom positioning*/
    left: 60%; /*left positioning*/
   }

   .Team-Optic {
    color: #74be46;
    position: absolute;
    font-size: 28px;
    bottom: -40%; /*bottom positioning*/
    left: 80%; /*left positioning*/
   }

   .Team-Ultra {
    color: #732dff;
    position: absolute;
    font-size: 28px;
    bottom: -60%; /*bottom positioning*/
    left: 30%; /*left positioning*/
   }

   .Team-Legion {
    color: #ff9900;
    position: absolute;
    font-size: 28px;
    bottom: -63%; /*bottom positioning*/
    left: 53%; /*left positioning*/
   }

   /*css code for News page*/

   .SignUp-container {
    color: white;
    font-size: 40px;
    font-weight: bold; /*make text weight bold*/
    position: absolute;
    left: 44%;
   }

   .form-container {
    position: absolute;
    top: 28%;
    left: 46%;
    label{
      color: white;
      font-size: 25px;
      margin-top: 5%;
    }
    input[type="text"] {
      width: 150px;
      font-size: 20px;
    }
    button[type="submit"] {
      background-color: transparent;
      color: #ffffff;
      position: absolute;
      margin: -5%;
      left: 4%;
    }
    }

    .Info-container {
      color: white;
      position: absolute;
      left: 40%;
      bottom: 40%;
      font-size: 22px;
    }

    #CODWZM-Event {
      position: absolute;
      padding: 0;
      bottom: -10% ;
      right: 25%;
      width: 50%;
    }

    /* 
References

-	Call of duty (video game). (2024, March 15). Wikipedia, the free encyclopedia. Retrieved March 29, 2024, from https://en.wikipedia.org/wiki/Call_of_Duty_%28video_game%29
-	Call of duty 2. (2024, March 5). Wikipedia, the free encyclopedia. -Retrieved March 29, 2024, from https://en.wikipedia.org/wiki/Call_of_Duty_2
-	Call of duty 4: Modern warfare. (2024, March 26). Wikipedia, the free encyclopedia. Retrieved March 29, 2024, from https://en.wikipedia.org/wiki/Call_of_Duty_4:_Modern_Warfare
-	Call of duty Logo. (n.d.). pngbuy. https://pngbuy.com/Download/call-of-duty-logo/
-	Call of Duty Staff. (2024, March 18). Join the fight in call of duty: Warzone mobile’s day zero limited-time launch event — Details and rewards. Call of Duty® | Best-Selling Video Game Franchise. https://www.callofduty.com/blog/2024/03/call-of-duty-warzone-mobile-day-zero-limited-time-launch-event-details-rewards
-	Call of Duty. (2023, August 17). Gameplay Reveal Trailer | Call of Duty: Modern Warfare III [Video]. YouTube. https://www.youtube.com/watch?v=mHDEDDrGYvo&source_ve_path=MjM4NTE&feature=emb_title
-	Call of duty: Black ops III. (2024, March 26). Wikipedia, the free encyclopedia. Retrieved March 29, 2024, from https://en.wikipedia.org/wiki/Call_of_Duty:_Black_Ops_III
-	Call of duty: Black ops. (2024, March 26). Wikipedia, the free encyclopedia. Retrieved March 29, 2024, from https://en.wikipedia.org/wiki/Call_of_Duty:_Black_Ops
-	Call of Duty®: Modern Warfare® 2 Campaign Remastered Xbox One. (n.d.). Smyths Toys Superstores | Buy Toys for Kids. https://www.smythstoys.com/uk/en-gb/gaming-and-tech/xbox-gaming/xbox-digital-downloads/xbox-digital-games-and-add-ons/call-of-duty-modern-warfare-2-campaign-remastered-xbox-one-digital-download/p/604981?utm_source=google&utm_medium=organic&utm_campaign=surfaces_across_google
-	Cameron. (2021, May 11). Call of duty: Modern warfare remastered Xbox one & Xbox series X|S (UK). Get up to 90% off best selling video games | CDKeys.com. https://www.cdkeys.com/call-of-duty-modern-warfare-remastered-xbox-one-xbox-series-x-s-uk?__currency=gbp&utm_source=google&utm_medium=cpc&utm_impaffexcgoogle-23=true&gad_source=1&gclid=CjwKCAiA3JCvBhA8EiwA4kujZrQCVbv-Fjp9WGodTDlMbqPJzAoBCeBEPP_WHJlQBB-8fpnk7dqfehoC_pQQAvD_BwE
-	Cater, C. (2023, November 2). Full 2024 COD league season schedule revealed. Esports Illustrated. https://esi.si.com/call-of-duty/cdl-2024-schedule
-	GreatStack. (2021, May 28). How To Make Website Responsive Using CSS Media Queries | Responsive Web Design Tutorial. youTube. https://www.youtube.com/watch?v=HHtMMS42cWs&ab_channel=GreatStack
-	How long is call of duty: Infinite warfare? | HowLongToBeat. (n.d.). HowLongToBeat.com | Game Lengths, Backlogs and more!. https://howlongtobeat.com/game/37101
-	Infinity ward. (n.d.). Call of Duty Esports Wiki. Retrieved March 29, 2024, from https://cod-esports.fandom.com/wiki/Infinity_Ward
-	InfinityWard. (2022, September 14). How we designed Gunsmith 2.0 for Modern Warfare 2 [Video]. YouTube. https://www.youtube.com/watch?v=DdLgwl7-lwU
-	Instagram. (2016, May 11). File:Instagram icon.png. Wikimedia Commons. Retrieved March 29, 2024, from https://commons.wikimedia.org/wiki/File:Instagram_icon.png
-	Jerghal. (2014, November 4). Call of duty: Advanced warfare (Video game 2014) â¬� 7.3 | Action, adventure, drama. IMDb. https://www.imdb.com/title/tt3707110/
-	Poster Call of Duty Ghosts - cover. (n.d.). ukposters. https://www.ukposters.co.uk/posters/call-of-duty-ghosts-cover-v20248
-	SLEDGEHAMMER GAMES. (2023, November 1). Returning to Modern Warfare with Sledgehammer Games | Call of Duty: Modern Warfare III [Video]. YouTube. https://www.youtube.com/watch?v=Ccn80ViYzqk
-	StarLine. (2023, July 27). New 2023 Twitter logo X icon design. Freepik. https://www.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_57642948.htm#query=x%20logo&position=0&from_view=keyword&track=ais&uuid=6352e150-4eee-4dbb-89ba-fea4a7d9e512
-	Subhan, I. (2021, October 14). Call of duty developer sledgehammer opens UK studio. Eurogamer.net. https://www.eurogamer.net/call-of-duty-developer-sledgehammer-opens-studio-in-the-uk
-	Talukdar, A. (2023, June 15). Call of Duty has officially changed its logo with the Season 4 update. sportskeeda. https://www.sportskeeda.com/call-of-duty-game/news-call-duty-officially-changed-logo-season-4-update
-	Treyarch. (2020, November 16). Official Treyarch Logo Animatic (2020) [Video]. YouTube. https://www.youtube.com/watch?v=sHIbvIrBd00&ab_channel=Treyarch
*/